/*This is the style sheet for registration.html*/
.registration_form{

	padding: 50px;
	margin-top: 40px;
	text-align:center;
	background-color:white;
	margin-bottom:50px;
	/*
	create space by padding,
	and make space at top and bottom by margin 
	bottom margin to prevent overlap with footer
	but contents at horizontal middle of page.
	*/
}

.button{
	padding: 10px;
	width: 100px;
	font-size:16px;
	/*
	make the button bigger
	*/
}
.radio{
		width:20px;
		height:20px;
		margin-bottom:10px;
		/*
		make radio circle bigger and easy to click
		*/
}
.box{
	width:20px;
	height:20px;
	margin-bottom:10px;
	/*
	make the check box bigger and easy to click
	*/
}
.type_input{
	font-size:20px;
	margin-bottom:10px;
	border-radius:4px;
	border:2px solid #ccc;
	/*
	give the input bar solid border and larger text size
	*/
}
fieldset{
	border:none;
	/* make fieldset border invisible */
}

@media only screen and (max-width: 500px){
/*
Styles in this block only triggered when the screen size is less than 500px, especially for the mobile devices
*/
	.registration_form{
	text-align:left;
	padding: 0px;
	margin-left: 0%;
	margin-right:0%;
	/*
	make the content on the left side of page
	remove the padding spacen and spacen in right and left of margin
	*/
	}

	.button{
		display:block;
		width:100%;
		margin-bottom:10px;
		margin-top:10px;
		/*
		make the button larger and easy to click by user on mobile device.
		create margin at top and bottom.
		*/
	}
	

}