/*
This css file contain the common style of all five html files.
Deal with the header, log in / sign up, navigation menu bar, footer, body.
*/
.log{
	text-align:right;
	/*put the log in and sigu up to the right side of page by using text-align*/
}
.log a{
	text-decoration:none;
	color:#f2f2f2;
	/*
	clean the decoration of links,
	and also change the color to white.
	*/
}
header{
	background-color:#ff8726;
	color:white;
	border-bottom-style:solid;
	border-bottom-color:white;
	border-bottom-width:2px;
	/*
	change the header background color to orange
	font color to white
	create a solid border at bottom.
	*/
}
header h1{
	margin:0px;
	padding:10px;
	text-align:center;
	/*
	put the header text into the center of the page, 
	give padding space and make margin to 0.
	*/
}

.menu{
	text-align:center;
	/* put the menu into the center of page by using text-align*/
}

.menu ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: #ff8726;
	/*
	clean the list style.
	eliminate the margin and padding,
	if overflow happen, hide them,
	change background color to orange,
	*/
}

.menu li{
	display:inline;
	/* make all the list display in line */
}

.menu li a{
	display: inline-block;
	color:#f2f2f2;
	padding: 14px 16px;
	text-decoration:none;
	transition:0.3s;
	font-size:22px;
	/*
	make all links in menu list display inline block
	change text color to white,
	giving padding space
	clean the link decoration
	adding transition to allow text change smoothly.
	increasing font size for easy reading
	*/
	
}
.menu li a:hover{
	background-color:#ffbb55;
	/*
	give a hover to let users know which link they are hiting easily.
	the difference is the background-color change to light orange.
	*/
}


footer{
	

	background-color:#ff8726;
	color:white;
	text-align:center;
	clear:both;
	position:fixed;
	bottom:0;
	width:70%;
	/*
	change background-color to orange
	text color to white
	text align at center of page
	the position is fixed and set bottom to 0, so footer is always at bottom of the screen
	the width is 70% of the screen, which is same as the width of body.
	*/
}
footer a{
	text-decoration:none;
	background-color:#ff8726;
	color:white;
	/*
	clean the decoration of link
	change the background color to orange
	*/
}
footer a:hover{

	background-color:#ffbb55;
	/*
	make the more easy to see when mouse above the back to top link at bottom.
	change the color to light orange.
	*/
	
}
body{
	max-width:3000px;
	margin-left: 15%;
	margin-right:15%;
	font-size:20px;
	/*
	make the the body at the center of the page by creating equal margin at both left and right 
	also limit the max width of the body, so it won't grow with the screen 
	but the white space at right and left will keep growing as screen becoming larger
	Use big font-size to make the text easy to read.
	*/

}
.current_page{
	border-style: dashed; 
	/*
	when current page is one of the page in navigation menu,
	the navigation menu will give the link a dashed line border
	*/
}
@media only screen and (max-width: 500px){
/*
Styles in this block only triggered when the screen size is less than 500px, especially for the mobile devices
*/
	header{
		margin-bottom:10px;
		/*
		margin to bottom to make is clearly separate from menu bar.
		*/
	}

	.menu li{
		display:block;
		/*make the list display as block*/
	}
	.menu li a{
		width:100%;
		/* make the link wider for easing hiting by user when they use mobile device */
	}
	body{
	margin-left: 0%;
	margin-right:0%;
	/*no blank space at right and left anymore*/
	}
	footer{
		width:100%;
		/*make the footer larger*/
	}
	footer a{
		font-size:22px;
		/* make the footer text larger for easily click*/
	}

}